
{{> header-logged-in}}
{{>sidenav}}
<div class="dd-matches-container">
<<<<<<< HEAD

    {{>matches}}
    {{!-- {{>pet_pref}}
    {{new_profile_form}} --}}
</div>

=======
>>>>>>> 715b87e344b044648400af8aa6d0eab81062d910
    <h1>Your Profile</h1>
	<div id="user-info">
		Email: {{user.email}}
		<br>
		Password: {{user.password}}
	</div>
</div>

